extends layout

block content
    div.container
        div.row
            div.col-12.text-center
                div.mb-3
                    img(src='/images/500.jpeg', alt="Internal Server Error")
                p Something went wrong on our end. Please try again later.
                a.btn.btn-primary.btn-lg(href='/') Go back to the homepage