extends layout

block content
    div(class="container")
        div(class="row")
            div(class="col-12")
                h1 Login
                form(action="/login" method="post")
                    div.mb-3
                        label.form-label(for="email") Email
                        input#email.form-control(type="email" name="email" required)
                    div.mb-3
                        label.form-label(for="password") Password
                        input#password.form-control(type="password" name="password" required)
                    button.btn.btn-primary(type="submit") Login
